esp32:
  # board: nodemcu-32s This also works.
  board: wemos_d1_mini32

packages:
  blinky: !include
    file: ./../include/interval-blinky.yaml
    vars:
      builtin_led_pin: "GPIO2"
  wifi: !include  
    file: ./../include/wifi.yaml
  i2c: !include
    file: ./../include/i2c.yaml
    vars:
      # datasheet says 21 and 22 are I2C0
      i2c_sda_pin: "GPIO21"
      i2c_scl_pin: "GPIO22"
      i2c_freq: "420kHz"



# https://esphome.io/components/mcp230xx.html#mcp230xx-i-o-expander

mcp23017:
  - id: 'mcp23017_0_id'
    address: 0x20


# Individual outputs
# switch:
#   - platform: gpio
#     name: "MCP23017 Pin A0"
#     pin:
#       mcp23xxx: mcp23017_hub
#       # Use pin A0
#       number: 0
#       mode:
#         output: true
#       inverted: false

binary_sensor:
  - platform: gpio
    name: "Pin 0"
    pin:
      mcp23xxx: mcp23017_0_id
      number: 0
      inverted: true
      mode:
        input: true
        pullup: true
  - platform: gpio
    name: "Pin 1"
    pin:
      mcp23xxx: mcp23017_0_id
      number: 1
      inverted: true
      mode:
        input: true
        pullup: true
  - platform: gpio
    name: "Pin 2"
    pin:
      mcp23xxx: mcp23017_0_id
      number: 2
      inverted: true
      mode:
        input: true
        pullup: true
  - platform: gpio
    name: "Pin 3"
    pin:
      mcp23xxx: mcp23017_0_id
      number: 3
      inverted: true
      mode: 
        input: true
        pullup: true
  - platform: gpio
    name: "Pin 4"
    pin:
      mcp23xxx: mcp23017_0_id
      number: 4
      inverted: true
      mode:
        input: true
        pullup: true
  - platform: gpio
    name: "Pin 5"
    pin:
      mcp23xxx: mcp23017_0_id
      number: 5
      inverted: true
      mode:
        input: true
        pullup: true
  - platform: gpio
    name: "Pin 6"
    pin:
      mcp23xxx: mcp23017_0_id
      number: 6
      inverted: true
      mode:
        input: true
        pullup: true
  - platform: gpio
    name: "Pin 7"
    pin:
      mcp23xxx: mcp23017_0_id
      number: 7
      inverted: true
      mode:
        input: true
        pullup: true
      


# "All Device" baseline stuff here

<<: !include 
  file: ./../include/esp32-device-baseline.yaml
  vars:
    device_hostname: "923-esphome"
    device_friendly_name: "923-esphome"
    device_comment: "PCF 8574 experiment"

